html{
    background-color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    margin-top: 30px;
    font-size: 45px;
    text-decoration: underline;
}
p{
    margin-top: 48px;
}
b{
    font-size: 25px;
}
hr{
    width: 500px;
}